@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
//font-family
$fontFamily:'Rubik', sans-serif;;
//color
$background:#D4F4FC;
$box:#B8E7E1;
$box2:#FFEEB3;
$title:#9E6F21;
//screen
$mobileScreen:300px;
$tabletScreen:700px;
$desktopScreen:1000px;