@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
//font-family
$fontFamily:'Rubik', sans-serif;;
//color

//screen
$mobileScreen:300px;
$tabletScreen:700px;
$desktopScreen:1000px;