@media (min-width: $tabletScreen){
    .sitterList-main{
        form{
            padding: 4vh;
        }
        label{
            font-size: 20px;
        }
    }
    .right-list{
        >section{
            width: 100%;
            &:hover{
                transition: .6s;
                background-color:$box1;
            }
        }
        h3{
            font-size: 30px;
        }
        img{
            width: 20vh;
            height: 15vh;
        }
        figcaption{
            // width: 100%;
            article{
                display: block;
            }
        }
        .fa-shield-dog{
            font-size: 28px;
        }
    }
}