@media (min-width: $desktopScreen){

        #confirm{
            padding: 30vh 0;
            aside{
                padding-top: 10vh;
            }
        }
        .list{
            transition: .4s;
            &:hover{
                background-color: $box;
            }
        }
        button{
            transition: .4s;
            &:hover{
                background-color: $box2;
            }
        }
    }