@media(min-width:$mobileScreen){
    .profile {
        @include columnRow(5vh);
        align-items: center;
        padding: 5vh 0;
        background-color: $background;
        h2,h3 {
            color: $title;
        }
    }
    .profile > section {
        width: 90%;
    }
    .proTop {
        width: 90%;
        display: flex; 
        align-items: center;
        justify-content: center;
        column-gap: 6vh;
        img { //profile top page
            width: 20vh;
            height: 20vh;
            border-radius: 50%;
        }
        h2 { //name
            font-style: italic;
        }
        figcaption { //name, review and email
            @include columnRow(2vh);
        }
        section {
            @include flex-column;
        }
        aside {
            display: flex;
            column-gap: 1vh;
            padding-left: 8vh;
            span {
                font-weight: 600;
            }
        }
        section > a{
            padding-left: 8vh;
        }
    }
    .proRight {
        @include columnRow(3vh);
        background-color: $box2;
        padding: 3% 0;
        border-radius: 15px;
        .sitterAvb { //available time
            @include columnRow(1vh);
            width: 100%;
            align-items: center;
            h3 {
                width: 80%;
            }
        }
        align-items: center;
        > section {
            @include columnRow(3vh);
            align-items: center;
            width: 100%;
            > article { //city and experience
                width: 100%;
                display: flex;
                justify-content: space-around;
                > aside {
                    display: flex;
                    align-items: center;
                    column-gap: 1vh;
                }
            }
            > aside {
                width: 80%;
                @include columnRow(1vh);
            }
        }
        li {
            list-style-type: none;
            display: flex;
            column-gap: 1vh;
            align-items: baseline;
        }
        .size {
            background-color: rgb(252, 225, 119);
            border-radius: 15px;
            padding: 1%;
        }
        ul { //services
            @include columnRow(1vh);
            span {
                font-weight: 600;
                font-size: x-large;
            }
        }
        ol { //size
            display: flex;
            flex-wrap: wrap;
            gap: 1vh;
        }
    }
    .proLeft {
        @include columnRow(3vh);
        > .sitterAvb { //available time
            display: none;
        }
        > figure { // pictures
            display: flex;
            justify-content: space-around;
            > img {
                width: 40%;
                border: 6px double black;
                padding: 1%;
            }
        }
        article {
            @include columnRow(2vh);
        }
    }
    .proBottom {
        @include columnRow(1vh);
        > section {
            @include columnRow(1vh);
        }
        article {
            display: flex;
            justify-content: center;
            column-gap: 5vh;
            align-items: center;
            width: 100%;
        }
        button {
            width: 4vh;
            height: 4vh;
            border-radius: 100%;
            background-color: $box2;
        }
        .slideShow {
            display: flex;
            column-gap: 5vh;
        }
        blockquote {
            display: none;
            border: 1px solid black;
            background-color: $box2;
            border-radius: 20px;
            padding: 0 2vh;
            width: 30vh;
            height: 30vh;
            i {
                color: orange;
            }
        }
        .shownSlide {
            @include columnRow(1vh);
            align-items: center;
            justify-content: center;
        }
        > section > section {
            display: flex;
            column-gap: 2vh;
            justify-content: center;
            align-items: center;
        } 
    }
}