@media(min-width:$desktopScreen){
    .sign{
        form{
            width: 50%;
            aside{
                display: flex;
                flex-direction: column;
            }
            button{
                width: 50%;
            }
        }
    }
}