@media(min-width:$tabletScreen){
    .shop{
        h2{
            font-size: 30px;
        }
        #menu{
            column-gap: 12vh;
        }
        h3{
            font-size: 30px;
        }
        label{
            @include flex-column;
            @include flex-center;
        }
    }
}