@media(min-width:$desktopScreen){
    .shop{
        .box{
            width: 30%;
            min-height: 60vh;
        }
        #box{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 3vh;
        }
        #menu{
            label{
                font-size: 30px;
            }
            select{
                width: 140px;
                height: 25px;
            }
        }
    }
}