@media (min-width: $desktopScreen){
  /*=====================
  header
  ======================*/
  .header-container{
   .pc-menu{
    width: 50%;
   }
  }
  /*=====================
  search-sitter
  ======================*/
  .home-main{
    p,a{
      font-size: 18px;
    }
    h4{
      font-size: 25px;
    }
  }
  .search-sitter{
    height: 100vh;
    h2{
      font-size: 45px;
    }
    p{
      font-size: 20px;
    }
     a{
      display: none;
    }
    form{
      padding-top: 2vh;
      padding-right: 7vh;
      display: block;
      display: flex;
      justify-content: flex-end;
      >section{
        background-color: $box2;
        width: 40%;
        padding: 3vh;
        border-radius: 15px;
        box-shadow: 10px 10px 20px;
      }
      section,
      article,
      aside{
        @include flex-column;
      }
    }
    input,select{
      padding: 2%;
    }
    label{
      font-size: 20px;
    }
  }
  .home-search{
    padding-top: 2vh;
    display: flex;
    align-items: center;
    input{
      width: 40%;
      background-color: sandybrown;
      border: 3px solid sandybrown;
      color: white;
      &:hover{
        transition: .6s;
        background-color: transparent;
        color: sandybrown;
      }
    }

  }

   /*=====================
  services
  ======================*/
  .services{
    padding: 10vh 0;
  }
   /*=====================
  blog
  ======================*/
  .blog{
    img{
      height: 30vh;
    }
    h4{
      font-size: 20px;
    }
  }
  /*=====================
  QandA
  ======================*/
  .QandA{
    h4{
      font-size: 20px;
      padding: 2vh;
    }
    article.appear p{
      font-size: 20px;
      color: dimgray;
    }
  }
  /*=====================
  contact
  ======================*/
  .contact{
    form{
      width: 60%;
    }
  }
  /*=====================
  location
  ======================*/
  .location{
    h3{
      width: 47%;
      font-size: 24px;
    }
  }


}