@media (min-width: $tabletScreen){
  /*=====================
  home-main
  ======================*/
  .home-main{
    h2{
      font-size: 35px;
    }
    h3{
      font-size: 30px;
    }
    li{
      font-size: 20px;
    }
    p{
      font-size: 18px;
    }

  }
  /*=====================
  search-sitter
  ======================*/
  .search-sitter{
    height: 50vh;
    h2{
      font-size: 30px;
    }
    a{
      margin-right: 15vw;
      padding: 3%;
      font-size: 24px;
      transition: .3s;
      &:hover{
        background-color: transparent;
        color: sandybrown;
        border-width: 3px;
        text-decoration: underline;
      }
    }
    
  }


   /*=====================
  about
  ======================*/
  .about{
    padding: 8vh 0;
    >section{
      width: 80%;
    }
  }
   /*=====================
  services
  ======================*/
  .services{
    >section{
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .service{
    width: 45%;
  }
  .trust-sitter{
    width: 50%;
    margin-top: 0;
  }
  /*=====================
  booking-flow
  ======================*/
  .booking-flow{
    > article{
      flex-direction: row;
      justify-content: space-between;
    }
    aside{
      width: 30%;
    }
  }
  /*=====================
  blog
  ======================*/
  .blog{
    > section{
      flex-direction: row;
      justify-content: space-between;
    }
    img{
      height: 15vh;
    }
    figure{
      width: 30%;
    }
    figcaption{
      p{
        display: none;
      }
    }
  }
  /*=====================
  QandA
  ======================*/
  .QandA{
    h4{
      font-size: 25px;
    }
    article.appear p{
      font-size: 20px;
    }
  }
  /*=====================
  contact
  ======================*/
  .contact{
    form{
      width: 60%;
    }
  }
  /*=====================
  location
  ======================*/
  .location{
    > article{
      flex-direction: row;
      justify-content: space-around;
    }
    aside{
      width: 20%;
    }
    h3{
     width: 40%;
    }
  }
}


