@media (min-width: $desktopScreen){

  /*=====================
  header
  ======================*/
  .header-contain{
    nav{
      width: 60vh;
    }
  }
  /*=====================
  search-sitter
  ======================*/
 
   /*=====================
  services
  ======================*/
  .services{
    padding: 10vh 0;
  }
   /*=====================
  blog
  ======================*/
  .blog{
    img{
      height: 30vh;
    }
  }
  /*=====================
  contact
  ======================*/
  .contact{
    form{
      width: 60%;
    }
  }
  /*=====================
  location
  ======================*/
  .location{
    h3{
      width: 47%;
      font-size: 24px;
    }
  }


}