@media (min-width: $desktopScreen){

  /*=====================
  search-sitter
  ======================*/
  .search-sitter{
    img{
      height: 80vh;
    }
    h2{
      font-size: 40px;
    }
     form{
      width: 60vh;
      bottom: 10%;
      left:70vh;
    }
  }
   /*=====================
  services
  ======================*/
  .services{
    padding: 10vh 0;
  }
   /*=====================
  blog
  ======================*/
  .blog{
    img{
      height: 30vh;
    }
  }
  /*=====================
  contact
  ======================*/
  .contact{
    form{
      width: 60%;
    }
  }
  /*=====================
  location
  ======================*/
  .location{
    h3{
      width: 47%;
      font-size: 24px;
    }
  }


}