@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (min-width: 300px) {
  .home-main,
  .about > section,
  .services,
  .services > section,
  .service,
  .booking-flow,
  .booking-flow > section,
  .booking-flow > article,
  .blog,
  .QandA,
  .contact,
  .contact form,
  .location,
  .location article {
    display: flex;
    flex-direction: column;
  }
  .home-main > section {
    display: flex;
    flex-direction: column;
  }
  /*=====================
  header
  ======================*/
  .header-container {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vh;
  }
  .header-container > section {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .header-container > section i {
    font-size: 25px;
    color: #9E6F21;
  }
  .header-container .fa-bars {
    font-size: 20px;
    cursor: pointer;
  }
  .header-container h1 {
    color: #9E6F21;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 42%;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 10%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
  }
  .overlay ul {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    list-style-type: none;
  }
  .overlay a {
    color: black;
    font-size: 20px;
  }
  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
  }
  .overlay.show {
    opacity: 0.9;
    pointer-events: auto;
  }
  .hg-menu #open.hide {
    display: none;
  }
  /*=====================
  search-sitter
  ======================*/
  .search-sitter {
    height: 50vh;
    background-image: url(/src/img/home-img/homebg-dog.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .search-sitter h2, .search-sitter p {
    width: 45%;
    color: white;
  }
  .search-sitter p {
    padding-bottom: 3vh;
  }
  .search-sitter a {
    background-color: sandybrown;
    padding: 2vh;
    color: white;
    border: 1px solid sandybrown;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 4vh;
  }
  .search-sitter .ss-container > article {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding-top: 7vh;
    padding-right: 2vh;
    align-items: flex-end;
  }
  .search-sitter form {
    display: none;
  }
  /*=====================
  about
  ======================*/
  .about {
    padding-top: 10vh;
    padding-bottom: 8vh;
    display: flex;
    align-items: center;
  }
  .about > section {
    width: 90%;
    text-align: center;
    row-gap: 3vh;
  }
  /*=====================
  services
  ======================*/
  .services {
    padding: 5vh 0;
    background-color: #D4F4FC;
    row-gap: 5vh;
    align-items: center;
  }
  .services > section {
    width: 90%;
  }
  .services h3 {
    width: 50%;
    text-align: center;
  }
  .service {
    row-gap: 5vh;
  }
  .service aside {
    display: flex;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px lightgray;
  }
  .trust-sitter {
    margin-top: 5vh;
    border: 1px solid dimgray;
    padding: 3vh 0;
  }
  .trust-sitter aside {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    padding-bottom: 2vh;
  }
  .trust-sitter ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    justify-content: center;
  }
  .trust-sitter li {
    display: flex;
    width: 80%;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  /*=====================
  booking-flow
  ======================*/
  .booking-flow {
    padding: 8vh 0;
    align-items: center;
    justify-content: center;
    row-gap: 5vh;
  }
  .booking-flow > section,
  .booking-flow > article {
    width: 90%;
    text-align: center;
  }
  .booking-flow > article {
    row-gap: 5vh;
  }
  .booking-flow aside {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  /*=====================
  blog
  ======================*/
  .blog {
    padding: 8vh 0;
    background-color: #B8E7E1;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;
  }
  .blog > section {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .blog img {
    height: 30vh;
  }
  .blog figure {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    background-color: white;
    padding-bottom: 2vh;
    box-shadow: 2px 2px 3px gray;
  }
  .blog figcaption {
    display: flex;
    flex-direction: column;
    padding: 0 2vh;
  }
  .blog a {
    padding-left: 2vh;
  }
  .blog aside {
    display: flex;
    align-items: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    justify-content: flex-end;
    padding-right: 2vh;
  }
  /*=====================
  QandA
  ======================*/
  .QandA {
    padding: 5vh 0;
    align-items: center;
  }
  .QandA section {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .QandA h3 {
    width: 90%;
    border-bottom: 2px solid;
  }
  .QandA p {
    display: none;
  }
  .QandA h4 {
    font-size: 14px;
    position: relative;
    background-color: #D4F4FC;
    padding: 1vh;
    cursor: pointer;
  }
  .QandA h4::after {
    content: "+";
    position: absolute;
    top: 10px;
    right: 15px;
    transition: 0.4s;
  }
  .QandA span {
    color: #9E6F21;
  }
  .QandA article.appear p {
    display: block;
  }
  .QandA article.appear h4::after {
    transform: rotate(45deg);
  }
  /*=====================
  contact
  ======================*/
  .contact {
    padding: 5vh 0;
    background-color: #FFEEB3;
    align-items: center;
    row-gap: 2vh;
  }
  .contact form {
    width: 90%;
    padding: 3vh;
    row-gap: 2vh;
  }
  .contact input,
  .contact textarea {
    border: none;
    padding: 2vh;
    border-radius: 5px;
  }
  .contact [type=submit] {
    background-color: #9E6F21;
    color: white;
  }
  /*=====================
  location
  ======================*/
  .location {
    padding: 8vh 0;
    padding-left: 5%;
    background-color: gray;
    color: white;
    row-gap: 4vh;
  }
  .location > article {
    row-gap: 3vh;
  }
  .location ul {
    padding-left: 4%;
  }
  .location h2 {
    width: 70%;
  }
  .location h3 {
    border-bottom: 1px solid white;
    width: 25%;
  }
  .location a {
    color: white;
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
  }
  /*=====================
  footer
  ======================*/
  footer {
    padding-top: 8vh;
    background-color: #FFEEB3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer > section {
    width: 90%;
  }
  footer > p {
    width: 100%;
    border-top: 1px solid dimgray;
    padding: 2vh;
    text-align: center;
  }
  .footer-aboutus {
    padding-bottom: 3vh;
  }
  .footer-aboutus h4 {
    font-size: 18px;
  }
  .footer-aboutus p {
    padding-bottom: 3vh;
  }
  .footer-aboutus ul {
    display: flex;
    width: 70%;
  }
  .footer-aboutus li {
    display: flex;
    width: 100%;
  }
  .footer-aboutus a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    border: 2px solid #9E6F21;
    border-radius: 50%;
    background-color: #9E6F21;
    color: white;
  }
  .link {
    padding-bottom: 3vh;
  }
  .link ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .link h4 {
    padding-bottom: 2vh;
  }
  .link a {
    color: dimgrey;
  }
}
@media (min-width: 300px) {
  .profile {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
    padding: 5vh 0;
    background-color: #D4F4FC;
  }
  .profile h2, .profile h3 {
    color: #9E6F21;
  }
  .profile > section {
    width: 90%;
  }
  .proTop {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 6vh;
         column-gap: 6vh;
  }
  .proTop img {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
  }
  .proTop h2 {
    font-style: italic;
  }
  .proTop figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .proTop section {
    display: flex;
    flex-direction: column;
  }
  .proTop aside {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    padding-left: 8vh;
  }
  .proTop aside span {
    font-weight: 600;
  }
  .proTop section > a {
    padding-left: 8vh;
  }
  .proRight {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    background-color: #FFEEB3;
    padding: 3% 0;
    border-radius: 15px;
    align-items: center;
  }
  .proRight .sitterAvb {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    width: 100%;
    align-items: center;
  }
  .proRight .sitterAvb h3 {
    width: 80%;
  }
  .proRight .sitterAvb li {
    display: flex;
    justify-content: center;
    background-color: rgb(252, 225, 119);
    border-radius: 15px;
    padding: 3%;
    font-weight: 600;
  }
  .proRight > section {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    width: 100%;
  }
  .proRight > section > article {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .proRight > section > article > aside {
    display: flex;
    align-items: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .proRight > section > aside {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .proRight li {
    list-style-type: none;
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    align-items: baseline;
  }
  .proRight .size1, .proRight .size2, .proRight .size3, .proRight .size4 {
    background-color: rgb(252, 225, 119);
    border-radius: 15px;
    padding: 1%;
  }
  .proRight ul {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .proRight ul span {
    font-weight: 600;
    font-size: x-large;
  }
  .proRight ol {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
  }
  .proLeft {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .proLeft > .sitterAvb {
    display: none;
  }
  .proLeft > figure {
    display: flex;
    justify-content: space-around;
  }
  .proLeft > figure > img {
    width: 40%;
    border: 6px double black;
    padding: 1%;
  }
  .proLeft article {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .proBottom {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .proBottom > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .proBottom article {
    display: flex;
    justify-content: center;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    align-items: center;
    width: 100%;
  }
  .proBottom button {
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    background-color: #FFEEB3;
  }
  .proBottom .slideShow {
    display: flex;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
  }
  .proBottom blockquote {
    display: none;
    border: 1px solid black;
    background-color: #FFEEB3;
    border-radius: 20px;
    padding: 0 2vh;
    width: 30vh;
    height: 30vh;
  }
  .proBottom blockquote i {
    color: orange;
  }
  .proBottom .shownSlide {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    justify-content: center;
  }
  .proBottom > section > section {
    display: flex;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 300px) {
  #confirm {
    display: none;
    text-align: center;
    position: absolute;
    background-color: #B8E7E1;
    width: 70%;
    padding: 30vh 0;
    font-size: 36px;
    border: 3px solid black;
    border-radius: 40px;
  }
  #confirm aside {
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
  }
  #confirm button {
    padding: 2% 0;
    width: 10vh;
    font-size: 20px;
  }
  #confirm button a {
    width: 100%;
    height: 100%;
  }
  .sitterList-main {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    /*=======================
    sitterList-form
    ========================*/
  }
  .sitterList-main h2 {
    font-size: 30px;
    padding-bottom: 2vh;
    color: #9E6F21;
  }
  .sitterList-main form {
    padding: 2vh;
    background-color: #FFEEB3;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .sitterList-main form > section {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .sitterList-main form input, .sitterList-main form select {
    padding: 2%;
    border-color: gray;
    border-radius: 5px;
    color: gray;
  }
  .sitterList-main form aside, .sitterList-main form article {
    display: flex;
    flex-direction: column;
  }
  .sitterList-main .dogorcat {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .sitterList-main .dogorcat section {
    display: flex;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .sitterList-main .dogorcat small {
    font-size: 16px;
  }
  .sitterList-main .dogorcat aside {
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  /*=======================
  list
  ========================*/
  .list {
    border-top: 1px solid gray;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
  .list .sitterLocation {
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    padding-left: 1vh;
  }
  .list aside {
    padding-top: 2vh;
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .list .sitterName {
    display: flex;
    align-items: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .list .sitterService {
    padding-bottom: 2vh;
  }
  .list button {
    width: 6vh;
    height: 4vh;
    background-color: #B8E7E1;
    border-color: white;
    margin-left: 1vh;
  }
  .list button a {
    width: 100%;
    height: 100%;
  }
  .list h4 {
    padding-left: 3vh;
  }
  .list span {
    padding: 2%;
    background-color: #D4F4FC;
    border-radius: 10px;
    margin-left: 1vh;
  }
  .list h3 {
    color: #9E6F21;
  }
}
@media (min-width: 700px) {
  .header-container {
    height: 8vh;
    padding: 0 5vh;
  }
  .header-container > section {
    width: 50vh;
    align-items: center;
  }
  .header-container > section i {
    font-size: 35px;
  }
  .header-container h1 {
    font-size: 30px;
    font-weight: 900;
  }
  .header-container article {
    width: 50vh;
  }
  .header-container .fa-bars {
    display: none;
  }
  .header-container nav {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .header-container ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  .header-container li {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .header-container li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9E6F21;
  }
  .overlay {
    height: 100%;
  }
  /*=====================
  home-main
  ======================*/
  .home-main h2 {
    font-size: 35px;
  }
  .home-main h3 {
    font-size: 30px;
  }
  .home-main li {
    font-size: 20px;
  }
  .home-main p {
    font-size: 18px;
  }
  /*=====================
  search-sitter
  ======================*/
  .search-sitter {
    height: 50vh;
  }
  .search-sitter h2 {
    font-size: 30px;
  }
  .search-sitter a {
    display: none;
  }
  .search-sitter form {
    padding-top: 2vh;
    padding-right: 2vh;
    display: block;
    display: flex;
    justify-content: flex-end;
  }
  .search-sitter form > section {
    background-color: #FFEEB3;
    width: 45%;
    padding: 2vh;
    border-radius: 15px;
    box-shadow: 10px 10px 20px;
  }
  .search-sitter form section,
  .search-sitter form article,
  .search-sitter form aside {
    display: flex;
    flex-direction: column;
  }
  .search-sitter .dogorcat {
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    padding-bottom: 2%;
  }
  .search-sitter .dogorcat aside {
    flex-direction: row;
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
  .search-sitter input, .search-sitter select {
    padding: 1%;
    margin-bottom: 2%;
    border-color: gray;
    border-radius: 5px;
  }
  .search-sitter label {
    font-weight: 600;
  }
  /*=====================
  about
  ======================*/
  .about {
    padding: 8vh 0;
  }
  .about > section {
    width: 80%;
  }
  /*=====================
  services
  ======================*/
  .services > section {
    flex-direction: row;
    justify-content: space-between;
  }
  .service {
    width: 45%;
  }
  .trust-sitter {
    width: 50%;
    margin-top: 0;
  }
  /*=====================
  booking-flow
  ======================*/
  .booking-flow > article {
    flex-direction: row;
    justify-content: space-between;
  }
  .booking-flow aside {
    width: 30%;
  }
  /*=====================
  blog
  ======================*/
  .blog > section {
    flex-direction: row;
    justify-content: space-between;
  }
  .blog img {
    height: 15vh;
  }
  .blog figure {
    width: 30%;
  }
  .blog figcaption p {
    display: none;
  }
  /*=====================
  QandA
  ======================*/
  .QandA h4 {
    font-size: 25px;
  }
  .QandA article.appear p {
    font-size: 20px;
  }
  /*=====================
  contact
  ======================*/
  .contact form {
    width: 60%;
  }
  /*=====================
  location
  ======================*/
  .location > article {
    flex-direction: row;
    justify-content: space-between;
  }
  .location aside {
    width: 30%;
  }
  .location h3 {
    width: 40%;
  }
  /*=====================
  footer
  ======================*/
  footer > section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vh;
  }
  .footer-aboutus {
    width: 60%;
  }
  .link {
    width: 25%;
  }
}
@media (min-width: 700px) {
  .proTop {
    width: 80%;
    justify-content: space-around;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .proTop section {
    row-gap: 2vh;
  }
  .proTop img {
    width: 25vh;
    height: 25vh;
  }
  .proTop h2 {
    font-size: 36px;
  }
  .proTop span {
    font-size: 20px;
  }
  .proTop h3 {
    font-size: 24px;
  }
  .proTop a {
    font-size: 18px;
    transition: 0.4s;
  }
  .proTop a:hover {
    color: orange;
  }
  .proTop section > a {
    padding-left: 12vh;
  }
  .proRight {
    flex-direction: row;
  }
  .proRight .sitterAvb {
    width: 50%;
  }
  .proBottom > section {
    flex-direction: row;
    justify-content: space-around;
  }
  .proBottom > section > section {
    flex-direction: column;
    row-gap: 5vh;
  }
  .proBottom article {
    width: 60%;
  }
  .proBottom a {
    transition: 0.4s;
  }
  .proBottom a:hover {
    color: #FFEEB3;
  }
}
@media (min-width: 700px) {
  .sitterList-main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .left-form {
    width: 40%;
  }
  /*=======================
  list
  ========================*/
  .list {
    width: 100%;
  }
  .list:hover {
    background-color: #B8E7E1;
  }
  .list button:hover {
    background-color: #FFEEB3;
  }
}
@media (min-width: 1000px) {
  /*=====================
  header
  ======================*/
  .header-contain nav {
    width: 60vh;
  }
  /*=====================
  search-sitter
  ======================*/
  .home-main p, .home-main a {
    font-size: 20px;
  }
  .home-main h4 {
    font-size: 30px;
  }
  .search-sitter {
    height: 90vh;
  }
  .search-sitter h2 {
    font-size: 45px;
  }
  .search-sitter p {
    font-size: 20px;
  }
  .search-sitter form {
    padding-top: 8vh;
    padding-right: 8vh;
  }
  .search-sitter form > section {
    width: 40%;
  }
  .search-sitter input, .search-sitter select {
    padding: 2%;
  }
  .search-sitter label {
    font-size: 20px;
  }
  /*=====================
  services
  ======================*/
  .services {
    padding: 10vh 0;
  }
  /*=====================
  blog
  ======================*/
  .blog img {
    height: 30vh;
  }
  /*=====================
  QandA
  ======================*/
  .QandA h4 {
    font-size: 30px;
    padding: 2vh;
  }
  .QandA article.appear p {
    font-size: 25px;
  }
  /*=====================
  contact
  ======================*/
  .contact form {
    width: 60%;
  }
  /*=====================
  location
  ======================*/
  .location h3 {
    width: 47%;
    font-size: 24px;
  }
}
@media (min-width: 1000px) {
  .profile {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }
  .proTop figcaption {
    flex-direction: row;
    -moz-column-gap: 15vh;
         column-gap: 15vh;
    align-items: center;
  }
  .proTop span {
    font-size: 24px;
  }
  .proTop h3 {
    font-size: 28px;
  }
  .proTop a {
    font-size: 22px;
  }
  .proTop aside {
    padding-left: 4vh;
  }
  .proTop section > a {
    padding-left: 8vh;
  }
  .profile > .proRight {
    width: 30%;
  }
  .profile > .proLeft {
    width: 60%;
  }
  .proRight > .sitterAvb {
    display: none;
  }
  .proRight > section > article {
    flex-direction: column;
    row-gap: 2vh;
    width: 80%;
  }
  .proLeft > .sitterAvb {
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .proLeft > .sitterAvb h3 {
    width: 80%;
    font-size: 28px;
  }
  .proLeft ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
  }
  .proLeft li {
    list-style-type: none;
    display: flex;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    align-items: baseline;
    background-color: #B8E7E1;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
  }
  .proBottom > section > section {
    font-size: 24px;
  }
  .proBottom .shownSlide {
    display: none;
  }
  .proBottom .shown2Slides {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    justify-content: center;
    height: 45vh;
  }
}/*# sourceMappingURL=style.css.map */