@media(min-width:$tabletScreen){
    .singUp{
        h1{
            font-size: 40px;
        }
        form{
            input,select{
                height: 5vh;
            }
            label{
                font-size: 24px;
            }
            aside{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            button{
                font-size: 20px;
                padding: 3%;
                width: 60%;
            }
        }
    }
}