@media (min-width: $mobileScreen){
  footer{
    padding-top: 8vh;
    background-color: $box2;
    @include flex-column;
    @include flex-center;
    >section{
      width: 90%;
    }
    >p{
      width: 100%;
      border-top: 1px solid dimgray;
      padding: 2vh 0;
      text-align: center;
    }
  }
  .footer-aboutus{
    padding-bottom: 3vh;
    h4{
      font-size: 18px;
    }
    p{
      padding-bottom: 3vh;
    }
    ul{
      display: flex;
      width: 70%;
    }
    li{
      display: flex;
      width: 100%;
    }
    a{
      display: flex;
      @include flex-center;
      width:5vh;
      height: 5vh;
      border: 2px solid $title;
      border-radius: 50%;
      background-color: $title;
      color: white;
    }
  }
  .link{
    padding-bottom: 3vh;
    ul{
      list-style-type: none;
      @include flex-column;
      row-gap: 1vh;
    }
    h4{
      padding-bottom: 2vh;
    }
    a{
      color: dimgrey;
    }
  }
}