@media (min-width: $mobileScreen){
  footer{
    >section{
     display: flex;
     justify-content: space-between;
     padding-bottom: 5vh;
    }
  }
  .footer-aboutus{
    width: 60%;
  }
  .link{
    width: 25%;
  }
}