@media (min-width: $mobileScreen){
  footer{
    >section{
     display: flex;
     justify-content: space-between;
     padding-bottom: 5vh;
    }
  }
  .footer-aboutus{
    width: 60%;
    a{
      transition: .4s;
    }
    a:hover{
      background-color: white;
      color: $title;
    }
  }
  .link{
    width: 25%;
    a{
      transition: .5s;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}