@media (min-width: $desktopScreen){
    .sitterList-main{
        >section{
            width: 100%;
            flex-direction: row;
            column-gap: 3vh;
        }
    }
    .right-list{
        display: flex;
        >section{
            width: 60vh;
        }
        figure{
            width: 100%;
        }
    }

}